<script>
import Stocks from "./Stocks.svelte";
</script>

<main>
	<h1> StonkBro </h1>
	<p> When you're stoned af, But can't stop thinking about your stocks. Bro. </p> 
	<Stocks user="Ben"/> <br />
	<Stocks user="Aviv"/> <br />
	<Stocks/>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		/* max-width: 30%; */
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		font-size: 4em;
		font-weight: 100;
	}
</style>