<script>
    import { Circle2 } from "svelte-loading-spinners";

    export let user = "Total";
    let userData;
    let stocksData;
    let usdValue;
    let totalValue = 0;

    function formatNumber(x) {
        return x.toFixed(2).replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    }

    fetch(`/users/${user}`).then(async (res) => {
        userData = await res.json();
    });

    fetch(`/stocks`).then(async (res) => {
        stocksData = await res.json();
    });

    fetch(`/stocks/usd`).then(async (res) => {
        usdValue = (await res.json()).Value;
    });

    $: {
        if (userData && stocksData && totalValue === 0) {
            Object.keys(userData.Stocks).forEach(ticker => {
                totalValue += stocksData.Stocks[ticker] * userData.Stocks[ticker];
            });
        }
    }

</script>

<style>
    main {
        margin: 0 auto;
        max-width: 700px;
    }
</style>

<main>
    {#if user === ''}
        <h4 class="fw-light">Total Stocks</h4>
    {:else if userData && stocksData && usdValue}
        <h4 class="fw-light">{user}'s Stocks | Total: {formatNumber(totalValue)}$ / {formatNumber(totalValue*usdValue)}₪ </h4>
    {:else}
        <h4 class="fw-light">{user}'s Stocks</h4>
    {/if}

    {#if userData && stocksData && usdValue}
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Ticker</th>
                    <th>Value</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody class="table-light">
                {#each Object.keys(userData.Stocks) as ticker}
                    <tr>
                        <td>{ticker}</td>
                        <td>{formatNumber(stocksData.Stocks[ticker])}$ / {formatNumber(stocksData.Stocks[ticker] * usdValue)}₪</td>
                        <td>{formatNumber(userData.Stocks[ticker])}</td>
                        <td>{formatNumber(stocksData.Stocks[ticker] * userData.Stocks[ticker])}$ / {formatNumber(stocksData.Stocks[ticker] * userData.Stocks[ticker] * usdValue)}₪</td>
                    </tr>
                {/each}
            </tbody>
        </table>
    {:else}
        <center style="margin-top:5%;">
            <Circle2 size="60" unit="px" />
        </center>
    {/if}
</main>
